.section {
  background-size: cover;
  background-position: center;
  padding-top: 10%;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box a {
  display: block;
  text-transform: uppercase;
  width: calc(20% - 10px);
  margin: 20px;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #f1f1f1;
  border: 3px solid rgb(36, 34, 34);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  transform: perspective(800px) rotateX(0deg) rotateY(0deg);
}

.box a:hover {
  background-color: #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transform: perspective(800px) rotateX(10deg) rotateY(-10deg) translateZ(10px);
}

/* Media queries */
@media only screen and (max-width: 768px) {
  .box a {
    width: calc(33.33% - 10px);
  }
}

@media only screen and (max-width: 480px) {
  .box a {
    width: calc(50% - 10px);
    font-size: 20px;
  }
}
