{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="../static/css/about.css">
{% endblock %}
{% block content %}
<section class="section about">

  <div class="about-container">
    {% for a in about %}
    <h2 class="section-title" style="text-transform: uppercase;">{{a.title}}</h2>
    <p class="section-description"> {{a.description}}</p>
   {% endfor %}
    <h2 class="section-title">Find Us</h2>

    <div class="map-container">
      <iframe class="map-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3800.075883901217!2d83.247276!3d17.741063299999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3969b5d6dd2295%3A0xa320ce0ad4603653!2sSuvirotechnologies%20pvt%20Ltd!5e0!3m2!1sen!2sin!4v1682019125283!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>width="100%" height="450"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="contact-container">
      <div class="contact-item">
        <i class="fas fa-phone-alt"></i>
        <p class="contact-text">Phone: +91 90140 29014 or +91 81433 09357</p>
      </div>
      <div class="contact-item">
        <i class="fas fa-envelope"></i>
        <p class="contact-text">Email: sales@suviro.in</p>
      </div>
    </div>
  </div>
</section>


{% endblock %}