
{%  extends './base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="../static/css/home.css">
{% endblock %}
{% block content %}



<main class="main">
	<!--=============== HOME ===============-->
	<section class="home section" id="home" style="height: 100vh;">
		<div class="home__container container grid">
			<div>
				<img src="{% static 'images/main.png' %}" alt="" class="home__img">
			</div>

			<div class="home__data">
				<div class="home__header">
					<h1 class="home__title">Industrial </h1>
					<h2 class="home__subtitle">Temperature Measurement</h2>
				</div>

				<div class="home__footer">
					<h3 class="home__title-description">Overview</h3>
					<p class="home__description">Most Advanced Smart Temperature Sensor for industrial safety
					</p>
					<a href="/about" class="button button--flex">
						<span class="button--flex">
							<i class="ri-shopping-bag-line button__icon"></i></i> About
						</span>
						<span class="home__price">
							<iconify-icon icon="material-symbols:arrow-back-ios" style="color: white;" rotate="180deg"></iconify-icon>
						</span>
					</a>
				</div>
			</div>
		</div>
	</section>





	<!--=============== CASE 2 ===============-->
	<section class="case section grid section_case"  id="case">
		<h2 class="section__title section__title-gradient"> Temperature Sensor for industrial safety
		</h2>


		<div class="case__container container grid">
			<div>
				<img src="../static/images/2.png" alt="" class="case__img" style="height:50vh ; width:auto ">
			</div>

			<div class="case__data">
				<p class="case__description">This cutting-edge smart temperature sensor is specifically designed for industrial safety, providing reliable and accurate temperature readings to ensure optimal conditions.			</p>
				<a href="/contact" class="button button--flex">
					<span class="button--flex">
						<i class="ri-shopping-bag-line button__icon"></i></i>  Contact
					</span>
					<span class="home__price">
						<iconify-icon icon="material-symbols:arrow-back-ios" style="color: white;" rotate="180deg"></iconify-icon>
					</span>
				</a>
			</div>
		</div>

	</section>


	<!--=============== CASE 3 ===============-->




	<section class="specs section grid" id="specs">
		<h2 class="section__title section__title-gradient">usecase</h2>

		<div class="specs__container container grid">
			<div class="specs__content grid">
				<div class="specs__data">
					<i class="ri-bluetooth-line specs__icon"></i>
					<h3 class="specs__title">Food
					</h3>
					<span class="specs__subtitle"> food, substance consisting <br> essentially of protein,</span>
				</div>

				<div class="specs__data">
					<i class="ri-battery-charge-line specs__icon"></i>
					<h3 class="specs__title">Pharmaceutical </h3>
					<span class="specs__subtitle"> Pharmaceuticals was established <br> under the Ministry of Chemicals  </span>
				</div>

				<div class="specs__data">
					<i class="ri-plug-line specs__icon"></i>
					<h3 class="specs__title">electronics-industry</h3>
					<span class="specs__subtitle">The electronics industry is the <br> economic sector that produces </span>
				</div>

				<div class="specs__data">
					<i class="ri-mic-line specs__icon"></i>
					<h3 class="specs__title">smart_Farm</h3>
					<span class="specs__subtitle">Smart Farming is an emerging <br> concept that refers to managing </span>

				</div>
				<a href="/usecase/food" class="button button--flex" style="width: max-content;">
					<span class="button--flex">
						<i class="ri-shopping-bag-line button__icon"></i></i>  See more
					</span>
					<span class="home__price">
						<iconify-icon icon="material-symbols:arrow-back-ios" style="color: white;" rotate="180deg"></iconify-icon>
					</span>
				</a>

			</div>

			<div>
				<img src="../static/images/4.png" alt="" class="specs__img">
			</div>

		</div>

	</section>



</main>


{% endblock %}